body,html {
	background-color: #FFF;
}
header {
    background: #AEC6CF;
    padding: 20px 30px;
    max-width: 940px;
    margin: auto;
}
h1 {
    color: #009933;
}
h2 {
    color: #009933;
}
div {
    color: #009933;
}